<fb:login-button scope="user_friends,public_profile,email" onlogin="checkLoginState();"
data-auto-logout-link="true" >
</fb:login-button>

<div id="status">
</div>

<%= link_to 'Token', facebook_token_path, id: 'token-transfer-link' %>